<!--This is a mock up of what the final product of the webpage might look like-->
<!--TO DO: Implement popup  text containing course information -->
<!DOCTYPE html>
<!--language for website, this helps the search engine-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This makes website responsive on different devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEC E Plan</title>
    <!--A styles sheet & web icon-->
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    

    <!--Angular import-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--Leader Line import-->
    <script src="https://cdn.jsdelivr.net/npm/leader-line@1.0.7/leader-line.min.js"></script>
</head>
<body>

    <!--header-->
    <header>
        <div class="header">

            <table>
                <tr>
                    <td style="width: 65%;"><a href="#"> <img src="./images/uofalogo.png" alt="UofA logo" style="width:200px; height:50px;"></a></td>
                    <td><a href="#default" class="site-title">MEC E Program Plan Visualizer</a> </td>
                </tr>
            </table>
        </div>

    </header>


<div id="main" ng-app="main" ng-controller="main">
    <!--Selecting different plans-->
    <p>{{selectedPlan+field2.group2+field3.group3}}</p>
    <h3 class="planhead">Plan</h3>
    <form class="select">
        <input type="radio" name="planselector" ng-model="selectedPlan" value="A">
        <label for="A">A</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="B">
        <label for="B">B</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="C">
        <label for="C">C</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="D">
        <label for="D">D</label><br>
    </form>
    <div id="coursegroupselector" ng-switch="selectedPlan">
        <div id="coursesgroupsA" ng-switch-when="A">
            <form class="select">
                <input type="radio" name="coursegroup2A" ng-model="field2.group2" value="2A" 
                ng-change-radio="globalRadio()">
                <label for="2A">2A</label><br>
                <input type="radio" name="coursegroup2A" ng-model="field2.group2" value="2B"
                ng-change-radio="globalRadio()">
                <label for="2B">2B</label><br>
            </form>
        </div>
        <div id="coursesgroupsB" ng-switch-when="B">
            <form class="select">
                <input type="radio" name="coursegroup2B" ng-model="field2.group2" value="2A"
                ng-change-radio="globalRadio()">
                <label for="2A">2A</label><br>
                <input type="radio" name="coursegroup2B" ng-model="field2.group2" value="2B"
                ng-change-radio="globalRadio()">
                <label for="2B">2B</label><br>
            </form>
        </div>
        <div id="coursesgroupsC" ng-switch-when="C">
            <form class="select">
                <input type="radio" name="coursegroup2C" ng-model="field2.group2" value="2A"
                ng-change-radio="globalRadio()">
                <label for="2A">2A</label><br>
                <input type="radio" name="coursegroup2C" ng-model="field2.group2" value="2B"
                ng-change-radio="globalRadio()">
                <label for="2B">2B</label><br>
            </form>
            <form class="select">
                <input type="radio" name="coursegroup3C" ng-model="field3.group3" value="3A"
                ng-change-radio="globalRadio()">
                <label for="3A">3A</label><br>
                <input type="radio" name="coursegroup3C" ng-model="field3.group3" value="3B"
                ng-change-radio="globalRadio()">
                <label for="3B">3B</label><br>
            </form>
        </div>
        <div id="coursesgroupsD" ng-switch-when="D">
        </div>
    </div>
    

    <!--Dropdown menu-->
    <!-- <form class="select">
    <div class="dropdown">
        <button class="dropbtn"><strong>Plans</button>
        <div class="dropdown-content">
            <input type="radio" name="planselector" ng-model="selectedPlan" value="A">
            <label for="A">A</label><br>
            <input type="radio" name="planselector" ng-model="selectedPlan" value="B">
            <label for="B">B</label><br>
            <div class ="submenu-dropdown">
                <label>C</label>    
                <div class="submenu-dropdown-content">
                    <input type="radio" name="planselector" ng-model="selectedPlan" value="CA">
                    <label for="CA">CA</label><br>
                </div>
            </div><br>
            <input type="radio" name="planselector" ng-model="selectedPlan" value="D">
            <label for="D">D</label><br>
        </div>
    </div>

    </form> -->
    <!--Display div, main course confriguation display-->
    <div class="display" ng-switch="selectedPlan + field2.group2 + field3.group3">
        <!--Div representing a plan-->
        <div id="A2A" ng-switch-when="A2A">
            <!--Div representing a term, follow the format below-->
            <div class="term">
                <h3 class="termheader">Term 1</h3>
                <!-- Div representing a course-->
                <!--TO DO: we need to style this somehow so the course div stays in place when the text
                in the coursepop div changes. We also need to make sure the text in this div remains within
                the block-->
                <div class="coursecontainer">
                    
                    <div class="courseinfo">
                        <p>{{ece101courseinfo}}</p>
                    </div>

                    <div class="course tooltip cateA" id="ECE 101" ng-click="ece101Listener()" ng-right-click="doThis()">
                        <p class="tooltiptext" id="ECE 101 desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae temporibus sapiente omnis in et itaque maiores atque, deserunt corporis dolorum iure, rnihil, exercitationem illum nesciunt iste at, quo molestiae ipsa odio ratione, temporibus corrupti sed! Perspiciatis, saepe quos consectetur ullam in blanditiis neque placeat!</p>
                        <h3 class="embed">ECE 101</h3>
                    </div>
                </div>
                <div class = "coursecontainer">
                    <div class="courseinfo">
                        <p>{{ece201courseinfo}}</p>
                    </div>
                    <div class="course" id="ECE 201" ng-click="ece201Listener()">
                        <h3 class="embed">ECE 201</h3>
                    </div>
                </div>
            </div>
            <div class="term">
                <h3>Term 2</h3>
                <div class="dropdown" ng-switch="alt1ASelected">
                    <div class="course" id="ECE 331" ng-switch-when="ECE 331" ng-click="ece331Listener()">
                        <h3 class="embed">ECE 331</h3>
                    </div>
                    <div class="course" id="MEC E 331" ng-switch-when="MEC E 331" ng-click="mece331Listener()">
                        <h3 class="embed">MEC E 331</h3>
                    </div>
                    <div class="dropdown-content">
                        <input type="radio" name="courseselector" ng-model="alt1ASelected" 
                        value="ECE 331" 
                        ng-change="alt1Aece331Listener()">
                        <label for="ECE 331">ECE 331</label><br>
                        <input type="radio" name="courseselector" ng-model="alt1ASelected" value="MEC E 331" 
                        ng-change="alt1Amece331Listener()">
                        <label for="MEC E 331">MEC E 331</label><br>
                    </div>
                </div>
              
                <div class="course" id="ECE 321">
                    <h3 class="embed">ECE 321</h3>
                </div>
            </div>
            <div class="term">
                <h3>Term 3</h3>
                <div class="course cateA" id="ECE 401" ng-click="ece401Listener()">
                    <dialog id="ece401courseinfo">Enter ECE 401 course information here</dialog>
                    <h3 class="embed">ECE 401</h3>
                </div>
                <div class="course" id="ECE 411">
                    <h3 class="embed">ECE 411</h3>
                </div>
            </div>
            <div class="term">
                <h3>Term 4</h3>
                <div class="course" id="ECE 461" ng-click="ece461Listener()">
                    <dialog id="ece461courseinfo">Enter ECE 461 course information here</dialog>
                    <h3 class="embed">ECE 461</h3>
                </div>
                <div class="course" id="ECE 421">
                    <h3 class="embed">ECE 421</h3>
                </div>
            </div>
            <div class="term">
                <h3>Term 5</h3>
                <div class="course" id="ECE 431">
                    <h3 class="embed">ECE 431</h3>
                </div>
                <div class="course" id="ECE 491">
                    <h3 class="embed">ECE 491</h3>
                </div>
            </div>
            <div class="term">
                <h3>Term 6</h3>
                <div class="course" id="ECE 551">
                    <h3 class="embed">ECE 551</h3>
                </div>
                <div class="course" id="ECE 501">
                    <h3 class="embed">ECE 501</h3>
                </div>
            </div>
            <div class="term">
                <h3>Term 7</h3>
                <div class="course" id="ECE 521">
                    <h3 class="embed">ECE 521</h3>
                </div>
                <div class="course" id="ECE 500">
                    <h3 class="embed">ECE 500</h3>
                </div>
            </div>
        </div>
        <div id="B2A" ng-switch-when="B2A">
            <div class="term">
                <div class="course" id="ECE 102" ng-click="ece102Listener()">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course" id="ECE 202">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 111">
                    <h3 class="embed">ECE 111</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
        </div>
        <div id="C2A3A" ng-switch-when="C2A3A">
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
        </div>
        <div id="D" ng-switch-when="D">
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script section used to generate the lines between courses.
Note: This script section generating the lines MUST be after the DOM elements in order to prevent them
evaluating as null -->
<script src="line.js"></script>
<script>
    // for every course, we generate a HTML reference to that element
   var ece101 = document.getElementById("ECE 101");
   var ece201 = document.getElementById("ECE 201");
   var ece401 = document.getElementById("ECE 401");
   var ece461 = document.getElementById("ECE 461");
   
   /*for every prereq or coreq relationship between courses, we draw a line. line is hidden by default.
   the prereq/coreq for a course points towards that course (eg. prereq/coreq -> course). prereq are soild lines
   and coreq are dashed lines*/
   var line1 = new Line("ECE 101", "ECE 201", false);
   console.log(line1);
   var line2 = new LeaderLine(ece101, ece401, {hide:true});
   var line3 = new LeaderLine(ece201, ece401, {hide:true});
   var line4 = new LeaderLine(ece101, ece461, {hide:true});
   var line6 = new Line("ECE 102", "ECE 202",true);
   var line7 = new Line("ECE 101", "ECE 331", false);
   var line8 = new Line("ECE 101", "MEC E 331", )

   // for every line, we need a getter function
   function getLine1() {
       return line1;
   };
   function getLine2() {
       return line2;
   };
   function getLine3() {
       return line3;
   };
   function getLine4() {
        return line4;
   };
   function getLine5() {
       return line5;
   };
   function getLine6() {
       return line6;
   }
   function getLine7() {
       return line7;
   }
   function getLine8() {
       return line8;
   }
</script>

<!-- Script section outlining the controller of the webpage -->
<script>
    var app = angular.module("main", []);

    // Angular controller for webpage
    app.controller("main", function ($scope) {
        // default plan selection 
        $scope.selectedPlan = "A";
        $scope.field2 = {group2: "2A"};
        $scope.field3 = {group3: ""};
        // console.log($scope.field2);
        // console.log($scope.field3);
        

        // for referencing this within a function
        var that = this;
        // console.log("this is...")
        // console.log(that);
        

        // this.delay = function () {
        //     setTimeout(function() {
        //         return;
        //     }, 200);
        // }

        /* this is an array of pairs, where each pair is an active line for that plan and the count
        of courses keeping it active*/
        this.planAList = [];
        this.planBList = [];
        this.planCList = [];
        this.planDList = [];

        this.planAclicked = [];
        this.planBclicked = [];
        this.planCclicked = [];
        this.planDclicked = [];

        // this is used to ensure the controller knows which plan the webpage is switching from
        this.previousPlan = $scope.selectedPlan;

        $scope.alt1ASelected = "ECE 331";
        this.alt1ASelected = $scope.alt1ASelected;

        this.alt1Aece331temp = [];
        this.alt1Amece331temp = [];

        var alt1AFlag = $scope.alt1ASelected;

        this.decrementActiveCount = function (line, alt, dest) {
            switch(alt) {
                case "alt1A":
                    switch(dest) {
                        case "ECE 331":
                            var index = this.alt1Aece331temp.findIndex((element) => element[0] == line);
                            if (index != -1) {
                                this.alt1Aece331temp[index][1]--;
                            }
                            break;
                        case "MEC E 331":
                        var index = this.alt1Amece331temp.findIndex((element) => element[0] == line);
                            if (index != -1) {
                                this.alt1Amece331temp[index][1]--;
                            }
                            break;
                        default:
                            console.log("should never reach");
                            break;
                    }
                    break;
                default:
                    console.log("should never reach");
                    break;
            }
        };

        this.incrementActiveCount = function (line, alt, dest) {
            // console.log(alt);
            switch(alt) {
                case "alt1A":
                    switch(dest) {
                        case "ECE 331":
                            // console.log("here");
                            var index = this.alt1Aece331temp.findIndex((element) => element[0] == line);
                            if (index == -1) {
                                this.alt1Aece331temp.push([line, 1]);
                            }
                            else {
                                this.alt1Aece331temp[index][1]++;
                            }
                            break;
                        case "MEC E 331":
                        var index = this.alt1Amece331temp.findIndex((element) => element[0] == line);
                            if (index == -1) {
                                this.alt1Amece331temp.push([line, 1]);
                            }
                            else {
                                this.alt1Amece331temp[index][1]++;
                            }
                            break;
                        default:
                            console.log("should never reach");
                            break;
                    }
                    break;
                default:
                    console.log("should never reach");
                    break;
            }
        };

        this.setDefaults = function (plan) {
            switch (plan) {
                case "A":
                    $scope.field2.group2 = "2A";
                    $scope.field3.group3 = "";
                    $scope.$apply();
                    console.log("Case A");
                    console.log($scope.field2.group2);
                    console.log($scope.field3.group3);
                    console.log($scope.selectedPlan + $scope.field2.group2 + $scope.field3.group3);
                    break;
                case "B":
                    $scope.field2.group2 = "2A";
                    $scope.field3.group3 = "";
                    $scope.$apply();
                    console.log("Case B");
                    console.log($scope.field2.group2);
                    console.log($scope.field3.group3);
                    console.log($scope.selectedPlan + $scope.field2.group2 + $scope.field3.group3);
                    break;
                case "C":
                    console.log("reach");
                    $scope.field2.group2 = "2A";
                    $scope.field3.group3 = "3A";
                    $scope.$apply();
                    console.log("Case C");
                    console.log($scope.field2.group2);
                    console.log($scope.field3.group3);
                    console.log($scope.selectedPlan + $scope.field2.group2 + $scope.field3.group3);
                    break;
                case "D":
                    $scope.field2.group2 = "";
                    $scope.field3.group3 = "";
                    $scope.$apply();
                    console.log("Case D");
                    console.log($scope.field2.group2);
                    console.log($scope.field3.group3);
                    console.log($scope.selectedPlan + $scope.field2.group2 + $scope.field3.group3);
                    break;
                default:
                    console.log("shouldn't be here");
            }
        };



        /*
            Render method for switching leaderlines shown on screen when plan chosen changes
            Parameters:
                plan - plan which the webpage is switching to
        */
        this.render = function (plan) {
            this.disable(this.previousPlan);
            this.enable(plan);
            this.previousPlan = plan;
        };

        // This makes it so the render function is called when the radio input is changed
        // Source: https://stackoverflow.com/questions/13152927/how-to-use-radio-on-change-event
        var radios = document.querySelectorAll("input[type=radio][name=planselector");
        Array.prototype.forEach.call(radios, function (radio) {
            radio.addEventListener("change", function () {
                // console.log($scope.selectedPlan);
                that.setDefaults($scope.selectedPlan);
                that.render($scope.selectedPlan);
            });
        });
        console.log(document.querySelectorAll("input[type=radio][name=coursegroup2A]"))

        $scope.alt1Aece331Listener = function () {
            $scope.alt1ASelected = "ECE 331";
            switch(that.alt1ASelected) {
                case "MEC E 331": 
                    for (let i = 0; i < that.alt1Aece331temp.length; i++) {
                        if (that.alt1Aece331temp[i][1] > 0) {
                            that.alt1Aece331temp[i][0].show(true);
                            that.planAList.push(that.alt1Aece331temp[i]);
                        }
                    }
                    that.alt1Aece331temp = [];
                    var index = that.planAList.findIndex(element => element[0] == getLine8());
                    if (index != -1) {
                        that.planAList[index][0].hide(true);
                        that.alt1Amece331temp.push(that.planAList[index]);
                        that.alt1Amece331temp.splice(index, 1);
                    }
                    break;
                default:
                    console.log("should never reach");
            }
            that.alt1ASelected = "ECE 331";
            alt1AFlag = "ECE 331";
        }

        $scope.globalRadio = function () {
            that.render($scope.selectedPlan + $scope.field2.group2 + $scope.field3.group3);
        }

        $scope.alt1Amece331Listener = function () {
            $scope.alt1ASelected = "MEC E 331";
            alt1AFlag = "MEC E 331";
            switch(that.alt1ASelected) {
                case "ECE 331": 
                    for (let i = 0; i < that.alt1Amece331temp.length; i++) {
                        if (that.alt1Amece331temp[i][1] > 0) {
                            that.alt1Amece331temp[i][0].show(true);
                            that.planAList.push(that.alt1Amece331temp[i]);
                        }
                    }
                    that.alt1Amece331temp = [];
                    var index = that.planAList.findIndex(element => element[0] == getLine7());
                    if (index != -1) {
                        that.planAList[index][0].hide(true);
                        that.alt1Aece331temp.push(that.planAList[index]);
                        that.alt1Aece331temp.splice(index, 1);
                    }
                    break;
                default:
                    console.log("should never reach");
            }
            that.alt1ASelected = "MEC E 331";
        }

        /*
            Method to disable the activelines of the previously selected plan when switching to a new one
            Parameters:
                plan - plan which the webpage is switching from
        */
        this.disable = function (plan) {
            // Check for previous plan
            switch (plan) {
                case "A":
                    console.log(this.planAList);
                    for (let i = 0; i < this.planAList.length; i++) {
                        console.log(this.planAList[i][0]);
                        this.planAList[i][0].hide(true);
                    }
                    break;
                case "B":
                    console.log(this.planBList);
                    for (let i = 0; i < this.planBList.length; i++) {
                        console.log(this.planBList[i][0]);
                        this.planBList[i][0].hide(true);
                    }
                    break;
                case "C":
                    console.log(this.planCList);
                    for (let i = 0; i < this.planCList.length; i++) {
                        this.planCList[i][0].hide(true);
                    }
                    break;
                case "D":
                    console.log(this.planDList);
                    for (let i = 0; i < this.planDList.length; i++) {
                        this.planDList[i][0].hide(true);
                    }
                    break;
            } 
        };

        /*
            Method to enable the active lines of the plan which the webpage is 
            switching to
            Parameters:
                plan - plan in which the webpage is switching to
        */
        this.enable = function (plan) {
            // Check for target plan
            switch(plan) {
                case "A":
                    console.log(this.planAList);
                    for (let i = 0; i < this.planAList.length; i++) {
                        this.planAList[i][0].show(true);
                    }
                    for (let i = 0; i < this.planAclicked.length; i++) {
                        var element = document.getElementById(this.planAclicked[i][0]);
                        element.classList.remove(this.planAclicked[i][1]);
                        element.classList.add(this.planAclicked[i][1]+"-highlighted");
                    }
                    this.planAswitch();
                    break;
                case "B":
                    console.log(this.planBList);
                    for (let i = 0; i < this.planBList.length; i++) {
                        this.planBList[i][0].show(true);
                    }
                    for (let i = 0; i < this.planBclicked.length; i++) {
                        var element = document.getElementById(this.planBclicked[i][0]);
                        element.classList.remove(this.planBclicked[i][1]);
                        element.classList.add(this.planBclicked[i][1]+"-highlighted");
                    }
                    break;
                case "C":
                    for (let i = 0; i < this.planCList.length; i++) {
                        this.planClist[i][0].show(true);
                    }
                    for (let i = 0; i < this.planCclicked.length; i++) {
                        var element = document.getElementById(this.planCclicked[i][0]);
                        element.classList.remove(this.planCclicked[i][1]);
                        element.classList.add(this.planCclicked[i][0]+"-highlighted");
                    }
                    break;
                case "D":
                    console.log(this.planDList);
                    for (let i = 0; i < this.planDList.length; i++) {
                        this.planDlist[i][0].show(true);
                    }
                    for (let i = 0; i < this.planDclicked.length; i++) {
                        var element = document.getElementById(this.planDclicked[i][0]);
                        element.classList.remove(this.planCclicked[i][1])
                        element.classList.add(this.planCclicked[i][0]+"-highlighted");
                    }
                    break;
            }
        };
        /*
            Function to "add" a line to a plan's active list. If the line doesnt exist in the active list, 
            add to active list, and add to list keeping track of count of courses keeping line "active" for 
            that plan. If the line already exists in the active list, 
            increment the number of courses "spawning" it by 1
            Parameters:
                line - line to be "added"
        */
        this.addLine = function(line) {
            // Check for current selected plan
            switch($scope.selectedPlan) {
                case "A":
                    // Check if in active list for plan
                    var index = this.planAList.findIndex((element) => element[0] == line);
                    // console.log(index)
                    // If it does not exist
                    if (index == -1) {
                        line.show(false);
                        this.planAList.push([line, 1]);
                    }
                    // If it does, increment count
                    else {
                        this.planAList[index][1]++;
                    }
                    break;
                case "B":
                    // Check if in active list for plan
                    var index = this.planBList.findIndex((element) => element[0] == line);
                    // If it does not exist
                    if (index == -1) {
                        line.show(false);
                        this.planBList.push([line, 1]);
                    }
                    // If it does, increment count
                    else {
                        this.planBList[index][1]++;
                    }
                    break;
                case "C":
                    // Check if in active list for plan
                    var index = this.planCList.findIndex((element) => element[0] == line);
                    // If it does not exist
                    if (index == -1) {
                        line.show(false);
                        this.planCList.push([line, 1]);
                    }
                    // If it does, increment count
                    else {
                        this.planCList[index][1]++;
                    }
                    break;
                case "D":
                    // Check if in active list for plan
                    var index = this.planDList.findIndex((element) => element[0] == line);
                     // If it does not exist
                    if (index == -1) {
                        line.show(false);
                        this.planDList.push([line, 1]);
                    }
                    // If it does, increment count
                      else {
                        this.planDList[index][1]++;
                    }
                    break;
            }
        };
    
        /*
            Function to remove a "line" from the active list. Decrement the active count of line, and if
            reaches 0, remove from active list.
            Parameters:
                line - line to be removed
        */
        this.removeLine = function(line) {
            // check plan selected
            switch($scope.selectedPlan) {
                case "A":
                    // check if line exists in active list
                    var index = this.planAList.findIndex((element) => element[0] == line);
                    if (index != -1) {
                        // decrement active count
                        this.planAList[index][1]--;
                        // if active count reaches 0
                        if (this.planAList[index][1] <= 0) {
                            line.hide(false);
                            this.planAList.splice(index, 1);
                        }
                    }
                    break;
                case "B":
                    // check if line exists in active list
                    var index = this.planBList.findIndex((element) => element[0] == line);
                    if (index != -1) {
                        // decrement active count
                        this.planBList[index][1]--;
                        // if active count reaches 0
                        if (this.planBList[index][1] <= 0) {
                            line.hide(false);
                            this.planBList.splice(index, 1);
                        }
                    }
                    break;
                case "C":
                    // check if line exists in active list
                    var index = this.planCList.findIndex((element) => element[0] == line);
                    if (index != -1) {
                        // decrement active count
                        this.planCList[index][1]--;
                        // if active count reaches 0
                        if (this.planCList[index][1] <= 0) {
                            line.hide(false);
                            this.planCList.splice(index, 1);
                        }
                    }
                    break;
                case "D":
                    // check if line exists in active list
                    var index = this.planDList.findIndex((element) => element[0] == line);
                    if (index != -1) {
                        // decrement active count
                        this.planDList[index][1]--;
                        // if active count reaches 0
                        if (this.planDList[index][1] <= 0) {
                            line.hide(false);
                            this.planDList.splice(index, 1);
                        }
                    }
                    break;
            }
        };

        this.addToClicked = function(element) {
            switch ($scope.selectedPlan) {
                case "A":
                    var index = this.planAclicked.findIndex((item) => item[0] == element[0]);
                    // If it does not exist
                    if (index == -1) {
                        this.planAclicked.push(element);
                    }
                    break;
                case "B":
                    var index = this.planBclicked.findIndex((item) => item[0] == element[0]);
                    // If it does not exist
                    if (index == -1) {
                        this.planBclicked.push(element);
                    }
                    break;
                case "C":
                    var index = this.planCclicked.findIndex((item) => item[0] == element[0]);
                    // If it does not exist
                    if (index == -1) {
                        this.planCclicked.push(element);
                    }
                    break;
                case "D":
                    var index = this.planDclicked.findIndex((item) => item[0] == element[0]);
                    // If it does not exist
                    if (index == -1) {
                        this.planDclicked.push(element);
                    }
                    break;
            }
        };
        this.removeFromClicked = function(element) {
            switch ($scope.selectedPlan) {
                case "A":
                    var index = this.planAclicked.findIndex((item) => item[0] == element);
                    // If it does exist
                    if (index != -1) {
                        this.planAclicked.splice(index, 1);
                    }
                    break;
                case "B":
                    var index = this.planBclicked.findIndex((item) => item[0] == element);
                    // If it does exist
                    if (index != -1) {
                        this.planBclicked.splice(index, 1);
                    }
                    break;
                case "C":
                    var index = this.planCclicked.findIndex((item) => item[0] == element);
                    // If it does exist
                    if (index != -1) {
                        this.planCclicked.splice(index, 1);
                    }
                    break;
                case "D":
                    var index = this.planDclicked.findIndex((item) => item[0] == element);
                    // If it does exist
                    if (index != -1) {
                        this.planDclicked.splice(index, 1);
                    }
                    break;
            }
        };

        this.planAswitch = function () {
            $scope.courseSelected = this.courseSelected;
        }

        // add a clicked/not clicked flag for every single course
        var ece101flag = false; 
        var ece101lastClickTime = new Date().getTime();
        var ece101rflag = false;
        var ece201flag = false;
        var ece401flag = false;
        var ece461flag = false;
        var ece102flag = false;
        var ece331flag = false;
        var mece331flag = false;
    
        // add a listener for every possible course, following the below format
        $scope.ece101Listener = function () {
            var currentTime = new Date().getTime()
            console.log(currentTime);
            console.log(ece101lastClickTime);
            console.log(currentTime - ece101lastClickTime);
            // prevent errors that might arise from a double click, ignore clicks < 200 ms from last one
            if (currentTime - ece101lastClickTime <= 200) {
                ece101lastClickTime = currentTime;
                return;
            }
            ece101lastClickTime = currentTime;
            var element = document.getElementById("ECE 101")
            if (!ece101flag) {
                // that.delay();
                console.log("here")
                if (element.classList.contains("cateA-highlighed")) {
                    element.classList.remove("cateA-highlighted");
                    element.classList.add("cateA");
                    that.removeFromClicked("ECE 101");
                    return;
                }
                // call getter function to get all lines belonging to course
                // call addLine() for every single line
                // set the course info var to the course info
                //$scope.ece101courseinfo = "ECE 101 is an intro course that teaches you several things about ECE. It serves as a basic overview of general concepts.";
                // console.log("going here");
                that.addLine(getLine1());
                // that.addLine(getLine2());
                // that.addLine(getLine4());
                if (alt1AFlag == "ECE 331") {
                    // console.log("enters here");
                    that.addLine(getLine7());
                    that.incrementActiveCount(getLine8(), "alt1A", "MEC E 331");
                }
                else if (alt1AFlag == "MEC E 331") {
                    that.incrementActiveCount(getLine7(), "alt1A", "ECE 331");
                    that.addLine(getLine8());
                }
                element.classList.remove("cateA");
                element.classList.add("cateA-highlighted");
                that.addToClicked(["ECE 101", "cateA"])
                ece101flag = true;
            }
            else {
                console.log("now")
                // call getter function to get all lines belonging to course
                // call removeLine() for every single line
                // set the course info variable to ""
            
                that.removeLine(getLine1());
                // that.removeLine(getLine2());
                // that.removeLine(getLine4());
                if (alt1AFlag == "ECE 331") {
                    that.removeLine(getLine7())
                    that.decrementActiveCount(getLine8(), "alt1A", "MEC E 331");
                }
                else if (alt1AFlag == "MEC E 331") {
                    that.decrementActiveCount(getLine7(), "alt1A", "ECE 331");
                    that.removeLine(getLine8())
                }
                element.classList.remove("cateA-highlighted");
                element.classList.add("cateA");
                that.removeFromClicked("ECE 101");
                ece101flag = false;
            }
        };

        $scope.doThis = function () {
            if (!ece101rflag) {
                document.getElementById("ECE 101 desc").classList.remove("tooltiptext")
                document.getElementById("ECE 101 desc").classList.add("tooltiptext-locked")
                console.log("here");
                ece101rflag = true;
            }
            else {
                document.getElementById("ECE 101 desc").classList.remove("tooltiptext-locked")
                document.getElementById("ECE 101 desc").classList.add("tooltiptext")
                console.log("now");
                ece101rflag = false;
            }
        }
        
        $scope.ece201Listener = function() {
            if (!ece201flag) {
                // call getter function to get all lines belonging to course
                // call addLine() for every single line
                // set the course info var to the course info
                $scope.ece201courseinfo="ECE 201 is an intro course to ECE that should be taken after ECE 101. It presents more advanced concepts.";
                that.addLine(getLine1());
                that.addLine(getLine3());
                that.addLine(getLine5());
                ece201flag = true;
            }
            else {
                // call getter function to get all lines belonging to course
                // call removeLine() for every single line
                // set the course info variable to ""
                $scope.ece201courseinfo="";
                that.removeLine(getLine1());
                that.removeLine(getLine3());
                that.removeLine(getLine5());
                ece201flag = false;
            }
        };
        $scope.ece401Listener = function () {
            var element = document.getElementById("ECE 401")
            if (!ece401flag) {
                // call getter function to get all lines belonging to course
                // call addLine() for every single line
                that.addLine(getLine2());
                that.addLine(getLine3());
                element.classList.remove("cateA");
                element.classList.add("cateA-highlighted");
                that.addToClicked(["ECE 401", "cateA"])
                ece401flag = true;
            }
            else {
                that.removeLine(getLine2());
                that.removeLine(getLine3());
                element.classList.remove("cateA-highlighted");
                element.classList.add("cateA");
                that.removeFromClicked("ECE 401");
                ece401flag = false;
            }
        };
        $scope.ece461Listener = function() {
            if (!ece461flag) {
                that.addLine(getLine4());
                that.addLine(getLine5());
                ece461flag = true;
            }
            else {
                that.removeLine(getLine4());
                that.removeLine(getLine5());
                ece461flag = false;
            }
        };

        $scope.ece102Listener = function() {
            if (!ece102flag){
                that.addLine(getLine6());
                ece102flag = true;
            }
            else {
                that.removeLine(getLine6());
                ece102flag = false;
            }
        };

        $scope.ece331Listener = function () {
            if (!ece331flag) {
                that.addLine(getLine7());
                ece331flag = true;
            }
            else {
                that.removeLine(getLine7());
                ece331flag = false;
            }
        }

        $scope.mece331Listener = function () {
            if (!mece331flag) {
                that.addLine(getLine8());
                mece331flag = true;
            }
            else {
                that.removeLine(getLine8());
                mece331flag = false;
            }
        }

    });
  

    // https://stackoverflow.com/questions/15731634/how-do-i-handle-right-click-events-in-angular-js
    app.directive('ngRightClick', function($parse) {
    return function(scope, element, attrs) {
        var fn = $parse(attrs.ngRightClick);
        element.bind('contextmenu', function(event) {
            scope.$apply(function() {
                event.preventDefault();
                fn(scope, {$event:event});
            });
        });
    };
    })

    app.directive('ngChangeRadio', function($parse) {
    return function(scope, element, attrs) {
        var fn = $parse(attrs.ngChangeRadio);
        element.bind('change', function(event) {
            scope.$apply(function() {
                event.preventDefault();
                fn(scope, {$event:event});
            });
        });
    };
    })

</script>
</body>
</html>