<!DOCTYPE html>
<!--language for website, this helps the search engine-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- This makes website responsive on different devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>  
        /*body style*/
        body {
            margin: 0;
        }

        /*Header style*/

        header {
            overflow: hidden;
            padding: 30px 10px;
            text-align: center;
            background-color: #275d38;
        }



        /*header link style */

        .header a {

            padding: 15px;
            text-decoration: none;
            line-height: 25px;
            border-radius: 4px;
            color: #f2cd00;
            font-size: 100%;
            font-family: inherit;

        }

        /*title style*/
        .header a.site-title {
            font-size: 25px;
        }

        /*image style*/
        .header img {
            max-width: 200px;
            margin-right: 0;
            float: left;
        }





        /* at 500px align header left when the screen is 500px wide or less*/
        @media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }
        }  
        .planhead {
            text-align: center
        }
    
        .select {
            text-align: center;
        }
    
        .display {
            width: 2000px;
        }
    
        .course {
            margin-top: 50px;
            margin-bottom: 50px;
            border-style: solid;
            border-color: black;
            border-width: 2px;
            height: 50px;
            width: 150px;
        }
    
        .embed {
            text-align: center;
        }
    
        .term {
            float: left;
            margin-left: 60px;
            position: relative;
        }
    </style>
    <title>MEC E Plan</title>

    <!--Added this-->
    <!--A styles sheet & web icon-->
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    

    <!--Angular import-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--Leader Line import-->
    <script src="https://cdn.jsdelivr.net/npm/leader-line@1.0.7/leader-line.min.js"></script>
    <script>
        var app = angular.module("main", []);
        app.controller("main", function ($scope) {
            // default selection 
            $scope.selectedPlan = "A";

            // these indicate the active lines for each plan so when returning from a plan
            // after switching of from it, the lines return
            this.planAList = [];
            this.planBlist = [];
            this.planClist = [];
            this.planDlist = [];

            this.previousPlan = $scope.selectedPlan;

            // render method for switching leaderlines shown on screen
            this.render = function (plan) {
                this.disable(this.previousPlan);
                this.enable(plan);
                this.previousPlan = plan;
            };

            // hiding leaderlines from previous plan
            this.disable = function (plan) {
                switch (plan) {
                    case "A":
                        for (let i = 0; i < this.planAList.length; i++) {
                            this.planAList.hide();
                        }
                        break;
                    case "B":
                        for (let i = 0; i < this.planBlist.length; i++) {
                            this.planBlist.hide();
                        }
                        break;
                    case "C":
                        for (let i = 0; i < this.planClist.length; i++) {
                            this.planClist.hide();
                        }
                        break;
                    case "D":
                        for (let i = 0; i < this.planDlist.length; i++) {
                            this.planDlist.hide();
                        }
                        break;
                } 
            };

            // enabling target leaderlines from target plan
            this.enable = function (plan) {
                switch(plan) {
                    case "A":
                        for (let i = 0; i < this.planAList.length; i++) {
                            this.planAList.show();
                        }
                        break;
                    case "B":
                        for (let i = 0; i < this.planAList.length; i++) {
                            this.planBList.show();
                        }
                        break;
                    case "C":
                        for (let i = 0; i < this.planClist.length; i++) {
                            this.planClist.show();
                        }
                        break;
                    case "D":
                        for (let i = 0; i < this.planClist.length; i++) {
                            this.planClist.show();
                        }
                        break;
                }
            };

            // function to display a line
            this.addLine = function(line) {
                switch($scope.selectedPlan) {
                    case "A":
                        if (this.planAList.findIndex(line) == -1) {
                            line.show();
                            this.planAList.push(line);
                        }
                        break;
                    case "B":
                        if (this.planBList.findIndex(line) == -1) {
                            line.show();
                            this.planBList.push(line);
                        }
                        break;
                    case "C":
                        if (this.planCList.findIndex(line) == -1) {
                            line.show();
                            this.planCList.push(line);
                        }
                        break;
                    case "D":
                        if (this.planDList.findIndex(line) == -1) {
                            line.show();
                            this.planDList.push(line);
                        }
                        break;
                }
            };
        
            // TO DO: need to consider case where two divs are active and they share a common line
            this.removeLine = function(line) {
                switch($scope.selectedPlan) {
                    case "A":
                        if (this.planAList.findIndex(line) != -1) {
                            line.hide();
                            this.planAList.splice(this.planAList.indexOf(line), 1);
                        }
                        break;
                    case "B":
                        if (this.planBList.findIndex(line) != -1) {
                            line.hide();
                            this.planBList.splice(this.planBList.indexOf(line), 1);
                        }
                        break;
                    case "C":
                        if (this.planCList.findIndex(line) == -1) {
                            line.show();
                            this.planCList.splice(this.planCList.indexOf(line), 1);
                        }
                        break;
                    case "D":
                        if (this.planDList.findIndex(line) == -1) {
                            line.show();
                            this.planDList.splice(this.planDList.indexOf(line), 1);
                        }
                        break;
                }
            }
            // basic framework, have element var for every div
            // have a leader line element for every connection, soild for prereq, dashed for coreq, hidden by default
            // TO DO: how to get divs in this script after they load into DOM?
            var ece101flag = false;
            // this is a temp variable represent a line that belongs to ece101
            var line1 = [];
            // add a listener for every possibe div
            $scope.ece101Listener = function () {
                if (!ece101flag) {
                    // add all lines belonging to div that are not added already
                    // call addLine()
                    flag = true;
                }
                else {
                    // remove all lines belonging to div that are not added already
                    // call removeLine()
                    flag = false;
                }
            }

            // https://stackoverflow.com/questions/13152927/how-to-use-radio-on-change-event
            var radios = document.querySelectorAll("input[type=radio][name=planselector");
            var that = this;
            Array.prototype.forEach.call(radios, function (radio) {
                radio.addEventListener("change", function () {
                    that.render($scope.selectedPlan);
                });
            });
            this.render($scope.selectedPlan);
            var ece101 = document.getElementById("ECE 101");
            console.log(ece101);
        });
    </script>
</head>
<body>

    <!--header-->
    <header>
        <div class="header">

            <table>
                <tr>
                    <td style="width: 65%;"><a href="#"> <img src="./images/uofalogo.png" alt="UofA logo" style="width:200px; height:50px;"></a></td>
                    <td><a href="#default" class="site-title">MEC E Program Plan Visualizer</a> </td>
                </tr>
            </table>
        </div>

    </header>


<div id="main" ng-app="main" ng-controller="main">
    <!--Selecting different plans-->
    <h3 class="planhead">Plan</h3>
    <form class="select">
        <input type="radio" name="planselector" ng-model="selectedPlan" value="A">
        <label for="A">A</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="B">
        <label for="B">B</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="C">
        <label for="C">C</label><br>
        <input type="radio" name="planselector" ng-model="selectedPlan" value="D">
        <label for="D">D</label><br>
    </form>
    <div class="display" ng-switch="selectedPlan">
        <div id="A" ng-switch-when="A">
            <div class="term">
                <div class="course" id="ECE 101" onclick="listener()">
                    <h3 class="embed">ECE 101</h3>
                </div>
                <div class="course" id="ECE 201">
                    <h3 class="embed">ECE 201</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 331">
                    <h3 class="embed">ECE 331</h3>
                </div>
                <div class="course" id="ECE 321">
                    <h3 class="embed">ECE 321</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 401">
                    <h3 class="embed">ECE 401</h3>
                </div>
                <div class="course" id="ECE 411">
                    <h3 class="embed">ECE 411</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 461">
                    <h3 class="embed">ECE 461</h3>
                </div>
                <div class="course" id="ECE 421">
                    <h3 class="embed">ECE 421</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 431">
                    <h3 class="embed">ECE 431</h3>
                </div>
                <div class="course" id="ECE 491">
                    <h3 class="embed">ECE 491</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 551">
                    <h3 class="embed">ECE 551</h3>
                </div>
                <div class="course" id="ECE 501">
                    <h3 class="embed">ECE 501</h3>
                </div>
            </div>
            <div class="term">
                <div class="course" id="ECE 521">
                    <h3 class="embed">ECE 521</h3>
                </div>
                <div class="course" id="ECE 500">
                    <h3 class="embed">ECE 500</h3>
                </div>
            </div>
        </div>
        <div id="B" ng-switch-when="B">
            <div class="term">
                <div class="course" id="ECE 102">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course" id="ECE 202">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 102</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 202</h3>
                </div>
            </div>
        </div>
        <div id="C" ng-switch-when="C">
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 103</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 203</h3>
                </div>
            </div>
        </div>
        <div id="D" ng-switch-when="D">
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
            <div class="term">
                <div class="course">
                    <h3 class="embed">ECE 104</h3>
                </div>
                <div class="course">
                    <h3 class="embed">ECE 204</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        // how to make this not null in angular controller?
        var ece101 = document.getElementById("ECE 101");
        console.log(ece101);
        var flag = false;
        var ece411 = document.getElementById("ECE 421");
        var line = new LeaderLine(ece101, ece411, {path:"fluid", hide:true});
        function listener() {
            if (!flag) {
                console.log("listen");
                flag = true;
                line.show();
            }
            else {
                console.log("now");
                flag = false;
                line.hide();
            }
        }
        var ece102 = document.getElementById("ECE 102");
        var ece202 = document.getElementById("ECE 202");
        var line2 = new LeaderLine(ece102, ece202);
        var array = [];
        array.push(line);
    </script>
</body>
</html>