.coursecontainer .MATH:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .MATH-highlighted {
            background-color: #ff5050;
        }
        .MATH-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }

.orcoursecontainer .MATH:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .MATH-highlighted {
            background-color: #ff5050;
        }
        .MATH-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursegroupacontainer .MATH:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .MATH-highlighted {
            background-color: #ff5050;
        }
        .MATH-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursegroupbcontainer .MATH:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .MATH-highlighted {
            background-color: #ff5050;
        }
        .MATH-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursecontainer .BASICSCIENCES:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted {
            background-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }

.orcoursecontainer .BASICSCIENCES:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted {
            background-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursegroupacontainer .BASICSCIENCES:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted {
            background-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursegroupbcontainer .BASICSCIENCES:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted {
            background-color: #a2fab0;
        }
        .BASICSCIENCES-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursecontainer .ENGINEERINGSCIENCES:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted {
            background-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }

.orcoursecontainer .ENGINEERINGSCIENCES:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted {
            background-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursegroupacontainer .ENGINEERINGSCIENCES:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted {
            background-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursegroupbcontainer .ENGINEERINGSCIENCES:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted {
            background-color: #66ccff;
        }
        .ENGINEERINGSCIENCES-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursecontainer .ENGINEERINGDESIGN:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted {
            background-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }

.orcoursecontainer .ENGINEERINGDESIGN:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted {
            background-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursegroupacontainer .ENGINEERINGDESIGN:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted {
            background-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursegroupbcontainer .ENGINEERINGDESIGN:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted {
            background-color: #ff9900;
        }
        .ENGINEERINGDESIGN-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursecontainer .ENGINEERINGPROFESSION:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted {
            background-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }

.orcoursecontainer .ENGINEERINGPROFESSION:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted {
            background-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursegroupacontainer .ENGINEERINGPROFESSION:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted {
            background-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursegroupbcontainer .ENGINEERINGPROFESSION:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted {
            background-color: #ff78c0;
        }
        .ENGINEERINGPROFESSION-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursecontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }

.orcoursecontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursegroupacontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursegroupbcontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursecontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }

.orcoursecontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursegroupacontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursegroupbcontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursecontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }

.orcoursecontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursegroupacontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursegroupbcontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursecontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }

.orcoursecontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.coursegroupacontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.coursegroupbcontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
