/*TO DO: adjust formatting of webpage */

/*body style*/
body {
    margin: 0;
    width: fit-content;
    height: fit-content;
}

html {
    margin: 0;
    width: fit-content;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: scroll;
}

/*Header style*/
header {
    padding: 8px 8px;
    background-color: #275d38;
    margin-bottom: 10px;
    /* height: 64px; */
    height: 8vh;
    
}

/* legend for line legend image */
#linelegend {
    height: 150px;
    width: 300px;
    position: relative;
    left: 10vw;
    bottom: 225px;
    margin: 0;
}

@media screen and (max-width: 980px) {
   #linelegend{
       right: 200px;
       width: 200px;
   }
}
        
 /*Header link style */
.header a {
    padding: 15px;
    text-decoration: none;
    line-height: 3vh;
    border-radius: 4px;
    color: #f2cd00;
    font-size: 100%;
    font-family: inherit;
    text-align: center;
}

/*Title style*/
.header a.site-title {
    font-size: 25px;
    position: absolute;
    left: 35vw;
    top: 12px;
    color: #F2CD00;
}

/*Image style*/
.header img {
    /* width: 183px;
    height: 50px; */
    width: 12vw;
    height: 8vh;
    margin-right: 0;
    float: left;
}

/* legend for categories */
.legend {
    width: 200px;
    height: 250px;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    left: 70vw;
    bottom: 25px;
    text-align: center;
}

.legendbutton {
    text-align: center;
    padding: 8px;
    box-shadow: 0px 5px gray;
    margin: 5px;
}

.legendbutton-pressed {
    text-align: center;
    padding: 6px;
    border: 2px solid white;
    position: relative;
    top: 5px;
    margin: 5px;
}

/* at 500px align header left when the screen is 500px wide or less*/
@media screen and (max-width: 840px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
        
    }
    .header img{
    width: 19vw;
    height: 6vh;
    margin-right: 0;
    float: left;
    }

.header a.site-title {
    font-size: 15px;
}
}  

#main {
    height: fit-content;
}

/* Plan header styling*/
h3.planhead {
    margin: 0;
    width: 125px;
    height: 33px;
    position: relative;
    left: 45vw;
    top: 20px;
    font-size: 175%;
    text-align: center;
}

/* Form styling */
.select {
    width: 300px;
    position: absolute;
    display: inline-block;
    left: 45vw;
    margin-top: 15px;
}

/* Form text styling */
label {
    display: inline-block;
    font-size: 115%;
    padding-top: 10px;
}

/* Plan diagram styling */
.display {
    width:fit-content;
    height: fit-content;
    position: relative;
    bottom: 160px;
    right: 15px;
}

/* Term column styling */
.term {
    margin-left: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Term header styling */
.termheader {
    margin-bottom: 15px;
    text-align: center;
    font-size: 125%;
}

/* Contains one (or two if an "or" option) course */
.coursecontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.orcoursecontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    outline-color: #573578;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 4px;
}

/* Text within a course box styling*/
.embed {
    text-align: center;
    position: relative;
    bottom: 3px;
}
      
/* Course box styling */
.course, .orcoursetop, .orcoursebottom {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 50px;
    width: 150px;
}

/* two option with "or" between them, smaller margin */
.orcoursetop {
    margin-top: 0;
    margin-bottom: 14px;
}

.orcoursebottom {
    margin-top: 14px;
    margin-bottom: 0;
}

/* format of the word "OR" container */
.ortext {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    left: 40%;
}

/* format of the word "OR" */
p.ortext {
    width: 25px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

/* Complementray elective box, taller to fit text */
.COMP {
    height: 80px;
}

.COMP-highlighted {
    height: 80px;
}

/* Program elective box, taller to fit text */
.PROG {
    font-size:90%;
    height:80px;
}

.PROG-highlighted {
    font-size:90%;
    height:80px;
}

/* Default course hover */
.course:hover, .orcoursetop:hover, .orcoursebottom:hover {
    background-color: #f2cd00;
    border-color:#f2cd00;
}

/* Default course selected */
.course-highlighted {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 50px;
    width: 150px;
    background-color: #f2cd00;
}

/* Makes sure margin of orcourse is unchanged */
.orcoursetop-highlighted, .orcourse-bottom-highlighted {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 50px;
    width: 150px;
    margin-bottom: 8px;
    background-color: #f2cd00;
}

/* Default highlighted hover */
.course-highlighted:hover, .orcoursetop-highlighted:hover, .orcourse-bottom-highlighted:hover {
    background-color: #f2cd00;
    border-color:#f2cd00;
}

    
/*This is for the Hover over course description*/
.tooltip {
    position: relative;
    display: inline-block;            
}
 
/* Most properties taken from Calendar */
/* Course on left of page, tooltip appears to the right of course */
.tooltip .tooltiptextright {
    visibility: hidden;
    width: 48vw;
    padding: 0px 10px;
    background-color: #EEEEEE;
    border: 1px solid #444444;
    color: #2B292A;
    text-align: left;           
    border-radius: 0px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    white-space: normal;
}

/* Most properties taken from Calendar */
/* Course on right of page, tooltip appears to the left of course */
.tooltip .tooltiptextleft {
    visibility: hidden;
    width: 48vw;
    padding: 0px 10px;
    background-color: #EEEEEE;
    border: 1px solid #444444;
    color: #2B292A;
    text-align: left;           
    border-radius: 0px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    white-space: normal;
}

/* After hovering, set content to empty */
.tooltip .tooltiptextright::after {
    content: "";         
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #EEEEEE transparent transparent transparent;
}

/* After hovering, set content to empty */
.tooltip .tooltiptextleft::after {
    content: "";         
    top: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #EEEEEE transparent transparent transparent;
}

/* On hover, dsiplay course description */
.tooltip:hover .tooltiptextright {
    visibility: visible;
    opacity: 1;
}

/* On hover, dsiplay course description */
.tooltip:hover .tooltiptextleft {
    visibility: visible;
    opacity: 1;
}

/* Title of description, format taken from Calendar */
.descriptiontitle {
    color: #2b292a;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/* Line between title and body of description */
.descriptionline {
    height: 0;
    border: 0;
    border-top: 1px solid #444444;
    background: transparent;
    display: block;
    unicode-bidi: isolate;
    margin: 4px;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* Various components of description body */
.descriptioncredits {
    display: inline;
}

.descriptionfeeindex {
    display: inline;
}

.descriptionavailability {
    display: inline;
}

.descriptionalphahours {
    display: inline;
}

.fulldescription {
    display: inline;
}

/* footer formatting */
footer {
    padding: 8px 8px;
    background-color: #275d38;
    margin-top: 10px;
    margin-bottom: 0;
    height: 64px;
    position: relative;
    bottom: 0;
}

/* U of A logo */
.footer img {
    width: 183px;
    height: 50px;
    margin-right: 0;
    position: relative;
    left: 44vw;
}

/* copyright logo and text */
#copyright {
    position: relative;
    left: 60vw;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 75%;
}

.dropdown {
    position: relative;
    display: inline-block;  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.submenu-dropdown:hover .submenu-dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #275d38;
}