.coursecontainer .Math:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .Math-highlighted {
            background-color: #ff5050;
        }
        .Math-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }

.orcoursecontainer .Math:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .Math-highlighted {
            background-color: #ff5050;
        }
        .Math-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursegroupacontainer .Math:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .Math-highlighted {
            background-color: #ff5050;
        }
        .Math-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursegroupbcontainer .Math:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
        .Math-highlighted {
            background-color: #ff5050;
        }
        .Math-highlighted:hover {
            background-color: #ff5050;
            border-color: #ff5050;
        }
.coursecontainer .NaturalSciences:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .NaturalSciences-highlighted {
            background-color: #a2fab0;
        }
        .NaturalSciences-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }

.orcoursecontainer .NaturalSciences:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .NaturalSciences-highlighted {
            background-color: #a2fab0;
        }
        .NaturalSciences-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursegroupacontainer .NaturalSciences:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .NaturalSciences-highlighted {
            background-color: #a2fab0;
        }
        .NaturalSciences-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursegroupbcontainer .NaturalSciences:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
        .NaturalSciences-highlighted {
            background-color: #a2fab0;
        }
        .NaturalSciences-highlighted:hover {
            background-color: #a2fab0;
            border-color: #a2fab0;
        }
.coursecontainer .EngineeringSciences:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .EngineeringSciences-highlighted {
            background-color: #66ccff;
        }
        .EngineeringSciences-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }

.orcoursecontainer .EngineeringSciences:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .EngineeringSciences-highlighted {
            background-color: #66ccff;
        }
        .EngineeringSciences-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursegroupacontainer .EngineeringSciences:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .EngineeringSciences-highlighted {
            background-color: #66ccff;
        }
        .EngineeringSciences-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursegroupbcontainer .EngineeringSciences:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
        .EngineeringSciences-highlighted {
            background-color: #66ccff;
        }
        .EngineeringSciences-highlighted:hover {
            background-color: #66ccff;
            border-color: #66ccff;
        }
.coursecontainer .EngineeringDesign:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .EngineeringDesign-highlighted {
            background-color: #ff9900;
        }
        .EngineeringDesign-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }

.orcoursecontainer .EngineeringDesign:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .EngineeringDesign-highlighted {
            background-color: #ff9900;
        }
        .EngineeringDesign-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursegroupacontainer .EngineeringDesign:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .EngineeringDesign-highlighted {
            background-color: #ff9900;
        }
        .EngineeringDesign-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursegroupbcontainer .EngineeringDesign:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
        .EngineeringDesign-highlighted {
            background-color: #ff9900;
        }
        .EngineeringDesign-highlighted:hover {
            background-color: #ff9900;
            border-color: #ff9900;
        }
.coursecontainer .EngineeringProfession:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .EngineeringProfession-highlighted {
            background-color: #ff78c0;
        }
        .EngineeringProfession-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }

.orcoursecontainer .EngineeringProfession:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .EngineeringProfession-highlighted {
            background-color: #ff78c0;
        }
        .EngineeringProfession-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursegroupacontainer .EngineeringProfession:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .EngineeringProfession-highlighted {
            background-color: #ff78c0;
        }
        .EngineeringProfession-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursegroupbcontainer .EngineeringProfession:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
        .EngineeringProfession-highlighted {
            background-color: #ff78c0;
        }
        .EngineeringProfession-highlighted:hover {
            background-color: #ff78c0;
            border-color: #ff78c0;
        }
.coursecontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }

.orcoursecontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursegroupacontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursegroupbcontainer .COMP:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
        .COMP-highlighted {
            background-color: #f5f569;
        }
        .COMP-highlighted:hover {
            background-color: #f5f569;
            border-color: #f5f569;
        }
.coursecontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }

.orcoursecontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursegroupacontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursegroupbcontainer .PROG:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
        .PROG-highlighted {
            background-color: #cc33ff;
        }
        .PROG-highlighted:hover {
            background-color: #cc33ff;
            border-color: #cc33ff;
        }
.coursecontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }

.orcoursecontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursegroupacontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursegroupbcontainer .ITS:hover {
            background-color: #996633;
            border-color: #996633;
        }
        .ITS-highlighted {
            background-color: #996633;
        }
        .ITS-highlighted:hover {
            background-color: #996633;
            border-color: #996633;
        }
.coursecontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }

.orcoursecontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.coursegroupacontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.coursegroupbcontainer .Other:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
        .Other-highlighted {
            background-color: #5ce0c4;
        }
        .Other-highlighted:hover {
            background-color: #5ce0c4;
            border-color: #5ce0c4;
        }
.coursecontainer .Mechatronics:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
        .Mechatronics-highlighted {
            background-color: #ff9696;
        }
        .Mechatronics-highlighted:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }

.orcoursecontainer .Mechatronics:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
        .Mechatronics-highlighted {
            background-color: #ff9696;
        }
        .Mechatronics-highlighted:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
.coursegroupacontainer .Mechatronics:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
        .Mechatronics-highlighted {
            background-color: #ff9696;
        }
        .Mechatronics-highlighted:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
.coursegroupbcontainer .Mechatronics:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
        .Mechatronics-highlighted {
            background-color: #ff9696;
        }
        .Mechatronics-highlighted:hover {
            background-color: #ff9696;
            border-color: #ff9696;
        }
